<!-- bipolar_quiz.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bipolar Disorder Quiz</title>
</head>
<body>
    <h1>Bipolar Disorder Quiz</h1>
    <form method="POST" action="/bipolar_quiz">
        <label for="question1">Question 1: Have you experienced periods where your mood was extremely elevated, characterized by heightened energy levels, increased self-esteem, and a decreased need for sleep?</label>
        <div>
            <input type="radio" name="question1" value="yes" required>
            <label for="question1">Yes</label>
        </div>
        <div>
            <input type="radio" name="question1" value="no" required>
            <label for="question1">No</label>
        </div>

        <label for="question2">Question 2: Have you gone through extended periods of deep sadness or hopelessness, where even routine tasks feel overwhelming?</label>
        <div>
            <input type="radio" name="question2" value="yes" required>
            <label for="question2">Yes</label>
        </div>
        <div>
            <input type="radio" name="question2" value="no" required>
            <label for="question2">No</label>
        </div>

        <label for="question3">Question 3: Have you noticed sudden and unexplained shifts in your mood from extreme highs to extreme lows?</label>
        <div>
            <input type="radio" name="question3" value="yes" required>
            <label for="question3">Yes</label>
        </div>
        <div>
            <input type="radio" name="question3" value="no" required>
            <label for="question3">No</label>
        </div>

        <label for="question4">Question 4: Do you often find yourself with a surplus of energy and an increased drive to accomplish goals during certain periods?</label>
        <div>
            <input type="radio" name="question3" value="yes" required>
            <label for="question4">Yes</label>
        </div>
        <div>
            <input type="radio" name="question4" value="no" required>
            <label for="question4">No</label>
        </div>

        <label for="question5">Question 5: Have you noticed changes in your sleep patterns, such as a decreased need for sleep during manic episodes or difficulty sleeping during depressive episodes?</label>
        <div>
            <input type="radio" name="question5" value="yes" required>
            <label for="question5">Yes</label>
        </div>
        <div>
            <input type="radio" name="question5" value="no" required>
            <label for="question5">No</label>
        </div>

        <input type="submit" value="Submit">
    </form>
</body>
</html>